html, body {
    height:100%;
}
body {
	background:#292929;
	color:#DDD;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
    border-color:#555;
}
body.theme-light {
	background:#fff;
	color:#222;
    border-color:#ccc;
}
div {
    box-sizing:border-box;
}

div.ib {
    *display:inline;
    *zoom:1;
    display:inline-block;
}
.col {
    float:left;
    width:33.33333%;
    padding:0 20px 20px 0;
}
p {
    line-height:150%;
}
pre.prettyprint {
    line-height:175%;
}
a { cursor:pointer; }
a:link, a:visited {
	text-decoration:none;
	color:inherit;
	font-size:inherit;
	font-weight:inherit;
}
a:hover { text-decoration:underline; }
a:active { text-decoration:underline; }
a img { border:none; }
ul {
    list-style:none;
    margin:0;
}
h1, h2, h3, h4, h5, h6, #fn {
	color:#FB4;
	font-weight:bold;
}
.theme-light h1, .theme-light h2, .theme-light h3, .theme-light h4, .theme-light h5, .theme-light h6, .theme-light #fn {
	color:#ff9900;
}
#ln, .post-date { color:#1BF; }
.theme-light #ln, .theme-light .post-date { color:#3299bb; }
.container {
	width:100%;
    max-width:800px;
	margin:0 auto;
}
.main {
	margin:80px auto;
}
header {
    padding:8px;
    background:#222;
    border-bottom:1px solid #555;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:10;
}
footer {
    text-align:center;
    background:#222;
    padding:15px;
    font-weight:normal;
    margin-top:-46px;
}
.theme-light header, .theme-light footer {
    background:#eee;
    border-color:#ccc;
}
#brand {
    float:left;
    font-size:2em;
    font-weight:bold;
    margin:0;
}
#brand a:hover { text-decoration:none; }

nav {
    float:right;
    font-weight:normal;
}
nav ul {
    margin:8px 0 0 0;
}
nav li {
    display:inline;
}
nav a, .contact a {
    padding:12px;
    text-decoration:none;
}
nav a:hover {
	color:#E6FF42;
    text-decoration:none;
}
.theme-light nav a:hover {
	color:#ff9900;
    text-decoration:none;
}
nav a.active, nav a.active:hover {
	color:#E6FF42;
	font-weight:bold;
}
.theme-light nav a.active, .theme-light nav a.active:hover {
	color:#ff9900;
	font-weight:bold;
}
#content-home {
    max-width:500px;
    padding:200px 8px 46px;
    min-height:100%;
}
#content-home .letter-box {
    display: block;
    float:left;
    width:12.5%;
    padding:8px 0;
    text-align:center;
    font-weight:bold;
    font-size:30px;
    background:#fb4;
    color: #222;
}
#content-home .subtitle {
    margin:15px 0;
    letter-spacing:2px;
    text-align:center;
}
#content-home .contact {
    margin:15px 0;
    text-align:center;
    font-size:20px;
    color:#ccc;
}
.theme-light #content-home .contact {
    color:#555;
}
#content-home a:hover {
    color:#fff;
}
.theme-light #content-home a:hover {
    color:#222;
}
#content-post a,
#content-contact a,
#content-about a,
#content-blog a,
#details p a,
#dlpdf { color:#fb4; }

.theme-light #content-post a,
.theme-light #content-contact a,
.theme-light #content-about a,
.theme-light #content-blog a,
.theme-light #details p a,
.theme-light #dlpdf { color:#3299bb; }
#content-about table {
    width:100%;
    border:1px solid #555;
}
.theme-light #content-about table, .theme-light #content-about td {
    border-color:#ccc;
}
#content-about th {
    text-align:left;
}
#content-about td {
    padding:8px;
    border:1px solid #555;
}
#content-about td:first-child {
    text-align:center;
    width:12px;
}
.theme-light #content-about th {
    background:#eee;
}
#content-about table h4 {
    margin:0;
    padding:8px;
}
#content-cv {
	line-height:normal;
    min-height:100%;
    padding:70px 0 46px;
}
#cv-tiles {
    width:67%;
}
#cv-details {
    width:33%;
}
#cv-filters {
    float:left;
}

#cv-filters a {
	display:block;
	float:left;
	padding:0px 8px 4px;
	border-bottom:1px solid #555;
}
.theme-light #cv-filters a {
    border-color:#ccc;
}

#cv-filters a.active, #cv-filters a.active:hover {
	color:#E6FF42;
	border-bottom:2px solid #E6FF42;
	padding-bottom:3px;
	text-decoration:none;
}
#cv-filters a:hover {
	color:#F7FFC2;
	border-bottom:2px solid #F7FFC2;
	padding-bottom:3px;
	text-decoration:none;
}
.theme-light #cv-filters a.active, .theme-light #cv-filters a.active:hover, .theme-light #cv-filters a:hover {
    border-color:#ff9900;
    color:#ff9900;
}
a#dlpdf {
	display:block;
	float:right;
}
#details {
    position:relative;
    padding-left:19px;
    border-left:1px solid #555;
}
.theme-light #details {
    border-color:#ccc;
}
#details p {
	font-size:13px;
	line-height:18px;
}
.details-close {
    position:absolute;
    right:0;
    top:6px;
    font-size:12px;
    text-decoration:underline;
}
.details-title {
	color:#FB4;
	font-size:20px;
	font-weight:bold;
}
.theme-light .details-title {
    color:#ff9900;
}
.details-subtitle {
	color:#1BF;
	font-size:14px;
	padding:2px 0 4px;
}
.theme-light .details-subtitle {
    color:#3299bb;
}
.details-dates {
	color:#42FFBA;
	font-size:13px;
}
.theme-light .details-dates {
    color:#999;
}
#isotope {
	margin-top:20px;
}
.item {
	margin:5px;
}
.education {
	width:90px;
	height:90px;
	text-align:center;
}
#ucla,
#mikeygeecom {
	background-color:#FB4;
}
#lab {
	background-color:#FFF;
}
#coursera {
	width:140px;
	height:36px;
	background-color:#fff;
}
#coursera > div {
	margin:10px auto;
}
#ucla > div {
	margin:15px auto;
}
#lab > div {
	margin:12px auto;
}
.work {
	text-align:center;
}
#cis,
#informatica,
#wdi {
	padding:5px;
	background-color:#FFF;
}
.theme-light #ou {
    background-color:#2a64aa;
    padding:5px 5px 0;
}
.theme-light #yahoo {
    background-color:#301d99;
    padding:5px;
}
.theme-light #robotag {
    background-color:#555;
    padding:5px 5px 2px;
}
#kjwedding, #node {
    background-color:#fff;
    padding:5px;
}
.box {
	width:80px;
	height:80px;
	color:#333;
	padding:5px;
	text-align:center;
}
.title {
	font-size:42px;
	font-weight:bold;
}
.description {
	font-size:14px;
}
#javascript {
	background-color:#43FF0F;
}
#c {
	background-color:#4CF;
}
#sql, #picksmash {
	background-color:#FF7F4D;
}
#sql .title {
	font-size:36px;
}
#html {
	background-color:#FF4287;
}
#picksmash {
	width:140px;
	height:40px;
	font-size:24px;
	font-weight:bold;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration:0.8s;
     -moz-transition-duration:0.8s;
          transition-duration:0.8s;
}
.isotope {
  -webkit-transition-property:height, width;
     -moz-transition-property:height, width;
          transition-property:height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
.img-feed-icon {
	vertical-align:middle;
	margin-right:4px;
}
#content-blog, #content-post {
    margin-top:70px;
}
#content-blog hr {
    margin:40px 0px;
    border-color:#555;
}
.theme-light #content-blog hr {
    border-color:#ccc;
}
#content-blog img, #content-post img, #content-blog iframe, #content-post iframe {
    max-width:100%;
}
#content-blog .adate {
    display:inline-block;
    min-width:90px;
}
#content-post blockquote, #content-blog blockquote {
	border-left:1px solid #DDD;
	padding-left:20px;
}

#content-post p > code {
	font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
	background-color:#555;
	padding:0px 6px 0px 3px;
}
.theme-light #content-post p > code {
	background-color:#ddd;
}
#content-post img, #content-blog img {
	max-width:800px;
}
#content-post ul > li, #content-blog ul > li {
	list-style:circle;
}
#content-post ul {
    line-height: 150%;
}

@media (min-width: 900px) {
    .col {
        width:33.333%;
    }
}

@media (max-width: 768px) {
    .main {
        padding:0 10px;
    }
    #content-cv {
        padding-left:10px;
        padding-right:10px;
    }
}

@media (max-width: 500px) {
    .col {
        width:100%;
        padding:0 0 10px;
        float:none;
    }
    #content-home {
        padding-top:150px;
    }
    #cv-tiles {
        width:100%;
    }
    #cv-filters {
        font-size:13px;
    }
    #cv-details {
        display:none;
        width:100%;
        position:absolute;
        top:100px;
        left:0;
        right:0;
        background: #292929;
        z-index:10;
        padding:20px;
        border:1px solid #555;
    }
    #details {
        padding:0;
        border:none;
    }
    .theme-light #cv-details {
        background:#f9f9f9;
        box-shadow:0 0 1px 1px #333;
        border-color:#ccc;
    }
}

