body {
	background: url("/images/woodbg.jpg") repeat fixed center top #292929;
	color: #DDD;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 200;
	line-height: 21px;
	margin: 0;
	padding: 0;
}

a { cursor: pointer; }

a:link, a:visited {
	text-decoration: none;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
}

a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

a img { border: none; }

ul { list-style: none; }

h1, h2, h3, h4, h5, h6, #fn { color: #FB4; }

#ln, .post-date { color: #1BF; }

#nav {
	background: url("/images/woodbg.jpg") repeat fixed center top #292929;
	padding: 20px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

#nav h1 {
	float: left;
	font-size: 28px;
	margin: 0;
}

#nav h1 a:hover { text-decoration: none; }

#tabs-wrapper {
	float: left;
	margin-left: 20px;
	height: 22px;
	width: 635px;
	border-bottom: 1px solid #ddd;
}

#tabs a {
	display: block;
	float: left;
	padding: 0 8px;
	margin: 0 2px;
}

#tabs a:hover {
	text-decoration: none;
	color: #F7FFC2;
	border-bottom: 2px solid #F7FFC2;
}

#tabs a.active, #tabs a.active:hover {
	color: #E6FF42;
	font-weight: bold;
	border-bottom: 2px solid #E6FF42;
}

.container {
	width: 800px;
	margin: 0 auto;
}

.main {
	margin: 80px auto 200px;
}

#content-home a,
#content-post a,
#content-contact a,
#content-about a,
#content-blog a,
#details p a,
#dlpdf { color: #fb4; }

#content-home h3 { color: #FFF; }
#content-home img,
#content-contact img {
	vertical-align: middle;
	margin: 5px 10px 5px 0px;
}
.tweet-date, .gh-date { font-size: 12px; }

#content-home .left-column {
	float: left;
	width: 480px;
}

#content-home .right-column {
	float: left;
	width: 300px;
	padding-left: 20px;
}

#content-home .right-column h3 {
	margin-left: 4px;
}

#content-cv {
	line-height: normal;
	margin-top: 80px;
}

#cv-left {
	float: left;
	width: 500px;
}

#filters a {
	display: block;
	float: left;
	padding: 0px 8px 4px;
	border-bottom: 1px solid #ddd;
}

#filters a.active, #filters a.active:hover {
	color: #E6FF42;
	border-bottom: 2px solid #E6FF42;
	padding-bottom: 3px;
	text-decoration: none;
}

#filters a:hover {
	color: #F7FFC2;
	border-bottom: 2px solid #F7FFC2;
	padding-bottom: 3px;
	text-decoration: none;
}

a#dlpdf {
	display: block;
	float: right;
}

#details {
	float: left;
	width: 250px;
	margin-left: 20px;
	padding-left: 19px;
	border-left: 1px solid #ddd;
}

#details p {
	font-size: 13px;
	line-height: 18px;
}

.details-title {
	color: #FB4;
	font-size: 20px;
	font-weight: bold;
}

.details-subtitle {
	color: #1BF;
	font-size: 14px;
	padding: 2px 0 4px;
}

.details-dates {
	color: #42FFBA;
	font-size: 13px;
}

#isotope {
	width: 500px;
	margin-top: 40px;
}

.item {
	margin: 5px;
	border-radius: 5px;
}

.education {
	width: 90px;
	height: 90px;
	text-align: center;
}

#ucla,
#mikeygeecom {
	background-color: #FB4;
}

#lab {
	background-color: #FFF;
}

#ucla-logo,
#lab-logo
{
	margin-top: 16px;
}

.work {
	text-align: center;
}

#cis,
#informatica,
#wdi {
	padding: 5px;
	background-color: #FFF;

}

.box {
	width: 80px;
	height: 80px;
	color: #333;
	padding: 5px;
	text-align: center;
}

.title {
	font-size: 42px;
	font-weight: bold;
}

.description {
	font-size: 14px;
}

#javascript {
	background-color: #43FF0F;
}

#c {
	background-color: #4CF;
}

#sql, #picksmash {
	background-color: #FF7F4D;
}

#sql .title {
	font-size: 36px;
}

#html {
	background-color: #FF4287;
}

#picksmash,
#mikeygeecom {
	width: 140px;
	height: 36px;
	font-size: 24px;
	font-weight: bold;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

#feed {
	vertical-align: top;
	margin-right: 4px;
}

#content-blog hr { margin: 40px 0px; }

#content-post blockquote, #content-blog blockquote {
	border-left: 1px solid #DDD;
	padding-left: 20px;
}

#content-post img, #content-blog img {
	max-width: 800px;
}

#content-post ul > li, #content-blog ul > li {
	list-style: circle;
}

#content-about img#me {
	float: left;
	margin-right: 18px;
}
