<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<meta name="author" content="Mikey Gee"/>
		<link type="text/css" rel="stylesheet" href="css/style.css"/>
		<title>Mikey Gee | CV</title>
	</head>
	<body>
		<div id="main">
			<div id="nav">
				<h1><a href="/"><span id="fn">mikey</span><span id="ln">GEE</span></a></h1>
				<ul>
					<li><a href="cv.html">cv</a></li>
					<li><a href="blog.html">blog</a></li>
					<li><a href="about.html">about</a></li>
					<li><a href="contact.html">contact</a></li>
				</ul>
			</div>
			<div id="content-cv">
				<div id="cv-header" class="yellow">
					<div style="float:right"><a href="files/cv.pdf">download pdf</a></div>
					<h2>cv</h2>
				</div>
				<div id="filters">
					<a href="#" filter="*">all</a>&nbsp;&nbsp;|&nbsp;
					<a href="#" filter=".education">education</a>&nbsp;&nbsp;|&nbsp;
					<a href="#" filter=".work">work</a>&nbsp;&nbsp;|&nbsp;
					<a href="#" filter=".project">projects</a>&nbsp;&nbsp;|&nbsp;
					<a href="#" filter=".skill">skills</a>
				</div>
				<div id="isotope">
					<div id="ucla" class="item education">
						<img id="ucla-logo" src="images/UCLA_Bruins_Logo.png"/>
					</div>
					<div id="lab" class="item education">
						<img id="lab-logo" src="images/lab.jpg"/>
					</div>
					<div id="amgen" class="item work">
						<img id="amgen-logo" src="images/amgen.png"/>
					</div>
					<div id="wdi" class="item work">
						<img id="wdi-logo" src="images/wdi_logo.jpg"/>
					</div>
					<div id="cis" class="item work">
						<img id="cis-logo" src="images/cis_logo.gif"/>
					</div>
					<div id="robotag" class="item project">
						<img id="robotag-logo" src="images/robotag.png"/>
					</div>
					<div id="nflive" class="item project box">
						nflive.net	
					</div>
					<div id="mikeygeecom" class="item project box">
						mikeygee	
					</div>
					<div id="java" class="item skill">
						<img id="java-logo" src="images/java.png"/>
					</div>
					<div id="php" class="item skill">
						<img id="php-logo" src="images/PHP-logo.png"/>
					</div>
					<div id="apple" class="item skill">
						<img id="apple-logo" src="images/apple.png"/>
					</div>
					<div id="windows" class="item skill">
						<img id="windows-logo" src="images/windows.png"/>
					</div>
					<div id="linux" class="item skill">
						<img id="linux-logo" src="images/tux.png"/>
					</div>
					<div id="informatica" class="item skill">
						<img id="informatica-logo" src="images/informatica.gif"/>
					</div>
					<div id="javascript" class="item skill box">
						<span class="title">Js</span><br>
						<span class="description">Javascript<span>
					</div>
					<div id="c" class="item skill box">
						<span class="title">C</span><br>
						<span class="description">C/C++/Obj-C<span>
					</div>
					<div id="sql" class="item skill box">
						<span class="title">SQL</span><br>
						<span class="description">databases<span>
					</div>
					<div id="html" class="item skill box">
						<span class="title">HC</span><br>
						<span class="description">HTML/CSS<span>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="js/cv.js"></script>
		<script type="text/x-jquery-tmpl" id="details-template">
			<div id="details">
				<span class="details-title">
				{{if link}}
					<a href=${link} target="_blank">${title}</a>
				{{else}}
					${title}
				{{/if}}
				</span><br>

				<span class="details-subtitle">
				{{each subtitle}}
					${$value}<br>
				{{/each}}
				</span>
				
				{{if dates}}
				<span class="details-dates">${dates}</span>
				{{/if}}

				{{each items}}
					<p>{{html $value}}</p>
				{{/each}}
			</div>
		</script>
	</body>
</html>

