---
layout: default
title: Mikey Gee | Blog
---

<div id="content-blog" class="content">
	<div style="float:right"><a href="#archive">archive &darr;</a></div>
	<h2>blog</h2><hr>
	{% for post in site.posts limit:10 %}
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
		{% if post.content.size > 2000 %}
			{{ post.content | truncatewords: 300 }}
			<a href="{{ post.url }}">read more</a>
		{% else %}
			{{ post.content }}
		{% endif %}
		<hr>
	{% endfor %}
	<h2 id="archive">archive</h2>
	{% for post in site.posts %}
		{{ post.date | date_to_string }} &nbsp; <a href="{{ post.url }}">{{ post.title }}</a><br>
	{% endfor %}
</div>
