---
layout: default
name: blog
title: Mikey Gee | Blog
---

<div id="content-blog" class="container main">
	<div style="float:right">
		<a title="subscribe" href="atom.xml"><img id="feed" src="/images/feed-24x24.png" alt="feed"/></a>
		<a title="subscribe" href="atom.xml">subscribe</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="#archive">archive &darr;</a>
	</div>
	{% for post in site.posts limit:10 %}
	<div class="post-preview">
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
		{{ post.content | replace:'break-->','' | replace:'<!--end','' }}
		{% if post.content contains '<!--break-->' %}
			<a href="{{ post.url }}">read more</a>
		{% endif %}
	</div>
	<hr>
	{% endfor %}
	<h2 id="archive">archive</h2>
	{% for post in site.posts %}
		{{ post.date | date_to_string }} &nbsp; <a href="{{ post.url }}">{{ post.title }}</a><br>
	{% endfor %}
</div>
<script type="text/javascript" src="/google-code-prettify/prettify.js"></script>
<script type="text/javascript">prettyPrint();</script>
