<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta name="author" content="Mikey Gee"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link type="text/css" rel="stylesheet" href="/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="/css/prettify.css"/>
	<link rel="shortcut icon" href="/favicon.ico"/>
	<title>Mikey Gee | Blog | {{ page.title }}</title>
<!-- google analytics -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25946924-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
    <header>
        <div class="container">
            <h1 id="brand"><a href="/"><span id="fn">M</span><span id="ln">G</span></a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/cv">CV</a></li>
                    <li><a href="/blog" class="active">Blog</a></li>
                </ul>
            </nav>
            <br style="clear:both;">
        </div>
    </header>
    <div id="content-post" class="container main">
        <h2>{{ page.title }}</h2>
        <div class="post-date">{{ page.date | date: "%B %d, %Y" }}</div>
        {{ content }}
    </div>
    <footer>
        <div class="container">
            <small>© 2014, Mikey Gee<span style="margin-left: 30px;"><a id="theme-switcher" href="javascript:;">Switch to light theme</a></span></small>
        </div>
    </footer>
<!-- theme switching -->
    <script type="text/javascript">
        (function () {
            var theme = (localStorage && localStorage.getItem('theme')) || 'dark';
            document.body.className = 'theme-' + theme;
            window.onload = function () {
                var $themeLink = document.getElementById('theme-switcher');
                $themeLink.innerHTML = 'Switch to ' + (theme === 'light' ? 'dark' : 'light') + ' theme';

                $themeLink.onclick = function () {
                    $themeLink.innerHTML = 'Switch to ' + theme + ' theme';
                    theme = (theme === 'light' ? 'dark' : 'light');
                    try {
                        localStorage && localStorage.setItem('theme', theme);
                    } catch (e) { }
                    document.body.className = 'theme-' + theme;
                }
            }
        })();
    </script>
    <script type="text/javascript" src="/google-code-prettify/prettify.js"></script>
    <script type="text/javascript">
        var codeBlocks = document.getElementsByTagName("pre");
        var syntax = document.getElementById("syntax");
        syntax && (syntax = syntax.innerHTML.split(","));
        for(var i = 0; i < codeBlocks.length; i++) {
            codeBlocks[i].className = "prettyprint ";
            if(syntax && syntax.length == 1)	
                codeBlocks[i].className += syntax[0];
            else if(syntax && syntax.length > 1)
                codeBlocks[i].className += syntax[i];
        }
        prettyPrint();
    </script>
</body>
</html>

