<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta name="author" content="Mikey Gee"/>
	<link type="text/css" rel="stylesheet" href="/css/style.css"/>
	<link type="text/css" rel="stylesheet" href="/css/prettify.css"/>
	<link rel="shortcut icon" href="/favicon.ico"/>
	<title>Mikey Gee | Blog | {{ page.title }}</title>
<!-- google analytics -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25946924-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body onload="prettyPrint()">
<div id="nav">
	<div class="container">
		<h1><a href="/"><span id="fn">mikey</span><span id="ln">GEE</span></a></h1>
		<div id="tabs-wrapper">
		<div id="tabs">
			<a href="/">home</a>
			<a href="/cv">cv</a>
			<a href="/blog" class="active">blog</a>
			<a href="/about">about</a>
			<a href="/contact">contact</a>
		</div>
		</div>
	</div>
</div>
<div id="content-post" class="container main">
	<h2>{{ page.title }}</h2>
	<div class="post-date">{{ page.date | date: "%B %d, %Y" }}</div>
	{{ content }}
</div>
<script type="text/javascript" src="/google-code-prettify/prettify.js"></script>
</body>
</html>

